<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>

    <div class="container">
      <%- include ('../partials/header.ejs') %>
      <a href="/class/<%=student._id%>">Back</a>
      <h1>Edit <%=student.name%></h1>
      <form action="/class/<%=student._id%>?_method=PUT" method="POST">
        Name:
          <input type="text" name="name" value="<%=student.name%>" />
        Student Photo:
          <input type="text" name="img" value="<%=student.img%>">
        Date of Birth:
          <input type="date" name="dob" value="<%=student.dob%>" />
        Address:
          <input type="text" name="address" value="<%=student.address%>">
        Parents:
          <input type="text" name="parents" value="<%=student.parents%>" />
        Allergies:
          <input type="text" name="allergies" value="<%=student.allergies%>" />
        Enrollment Status:
          <input type="text" name="enrollment" value="<%=student.enrollment%>" />
        Notes:
          <input type="textarea" name="notes" value="<%=student.notes%>">
        <input type="submit" value="Submit Changes">
      </form>
    </div>

  </body>
</html>
