<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>

    <div class="container">
      <%- include ('../partials/header.ejs') %>
      <h1>The Sunshine Room</h1>
      <main class="index-main">
        <ul>
          <% for (let i = 0; i < students.length; i++) { %>
            <a href="/class/<%=students[i]._id%>" class="student-div">
              <li>
                <% if (students[i].img !== "") { %>
                  <img id="student-img" src="<%=students[i].img%>" alt="Student picture" />
                <% } %>
                <h3><%=students[i].name%></h3>
              </li>
            </a>
          <% } %>
        </ul>
      </main>
      <%- include ('../partials/footer.ejs') %>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
