<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>

    <div class="container">
      <%- include ('../partials/header.ejs') %>

      <main class="show-main">

        <section id="hero-area">
          <% if (student.img !== "") { %>
            <img class="student-photo" src="<%=student.img%> alt="Student picture" />
          <% } %>
          <h1><%=student.name%></h1>
          <button id="view-details">View Details</button>
          <button id="view-portfolio">View Portfolio</button>
          <a href="/class/<%=student._id%>/edit" id="edit-details">Edit Details</a>
          <a href="/portfolio/<%=student._id%>" id="edit-portfolio">Edit Portfolio</a>
        </section>

        <section id="details" class="hidden main-area">
          <p>Date of Birth: <%=student.dob%></p>
          <p>Parents: <%=student.parents%></p>
          <p>Enrollment Status: <%=student.enrollment%></p>
          <p>Allergies: <%=student.allergies%></p>
          <p>Notes: <%=student.notes%></p>
          <a href="/class/<%=student._id%>/edit" class="anchor-btn">Edit</a>
          <form action="/class/<%=student._id%>?_method=DELETE" method="post">
            <input type="submit" value="Unenroll">
          </form>
        </section>

        <section id="portfolio" class="hidden main-area">
          <h2><%=student.name%>'s Portfolio</h2>
          <button id="cognitive">Cognitive</button>
          <button id="socioEmotional">Social / Emotional</button>
          <button id="speechLang">Speech / Language</button>
          <button id="fineMotor">Fine Motor</button>
          <button id="grossMotor">Gross Motor</button>
          <button id="summary">Summary</button>

          <% if (portfolio !== null) { %>

              <section class="hidden display" id="display-cognitive">
                <img src="<%=portfolio.cognitive.img%>" alt="Cognitive Development Example"/>
                <h4><%=portfolio.cognitive.quote%></h4>
                <p><%=portfolio.cognitive.description%></p>
              </section>

              <section class="hidden display" id="display-socioEmotional">
                <img src="<%=portfolio.socioEmotional.img%>" alt="Social Emotional Development Example"/>
                <h4><%=portfolio.socioEmotional.quote%></h4>
                <p><%=portfolio.socioEmotional.description%></p>
              </section>

              <section class="hidden display" id="display-speechLang">
                <img src="<%=portfolio.speechLang.img%>" alt="Social Emotional Development Example"/>
                <h4><%=portfolio.speechLang.quote%></h4>
                <p><%=portfolio.speechLang.description%></p>
              </section>

              <section class="hidden display" id="display-fineMotor">
                <img src="<%=portfolio.fineMotor.img%>" alt="Social Emotional Development Example"/>
                <h4><%=portfolio.fineMotor.quote%></h4>
                <p><%=portfolio.fineMotor.description%></p>
              </section>

              <section class="hidden display" id="display-grossMotor">
                <img src="<%=portfolio.grossMotor.img%>" alt="Social Emotional Development Example"/>
                <h4><%=portfolio.grossMotor.quote%></h4>
                <p><%=portfolio.grossMotor.description%></p>
              </section>

              <section class="hidden display" id="display-summary">
                <h4>Student Summary</h4>
              </section>

          <% } %>
        </section>

      </main>
      <%- include ('../partials/footer.ejs') %>
    </div>

  </body>
</html>
