<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>

    <div class="container">
      <%- include ('../partials/header.ejs') %>
      <a href="/class/<%=student._id%>">Back</a>
      <h1>Create <%=student.name%>'s Portfolio</h1>
      <form action="/portfolio" method="POST">
        <input type="hidden" name="studentId" value="<%=student._id%>" />
        <input type="hidden" name="studentName" value="<%=student.name%>" />
        <section>
          <h4>Cognitive</h4>
          <input type="text" name="cognitive.img" placeholder="Image Link">
          <input type="text" name="cognitive.quote" placeholder="Quote">
          <input type="textarea" name="cognitive.description" placeholder="Description">
        </section>
        <section>
          <h4>Social / Emotional</h4>
          <input type="text" name="socioEmotional.img" placeholder="Image Link">
          <input type="text" name="socioEmotional.quote" placeholder="Quote">
          <input type="textarea" name="socioEmotional.description" placeholder="Description">
        </section>
        <section>
          <h4>Speech / Language</h4>
          <input type="text" name="speechLang.img" placeholder="Image Link">
          <input type="text" name="speechLang.quote" placeholder="Quote">
          <input type="textarea" name="speechLang.description" placeholder="Description">
        </section>
        <section>
          <h4>Fine Motor</h4>
          <input type="text" name="fineMotor.img" placeholder="Image Link">
          <input type="text" name="fineMotor.quote" placeholder="Quote">
          <input type="textarea" name="fineMotor.description" placeholder="Description">
        </section>
        <section>
          <h4>Gross Motor</h4>
          <input type="text" name="grossMotor.img" placeholder="Image Link">
          <input type="text" name="grossMotor.quote" placeholder="Quote">
          <input type="textarea" name="grossMotor.description" placeholder="Description">
        </section>
        <section>
          <h4>Student Summary</h4>
          <input type="textarea" name="summary" placeholder="Summary">
        </section>
        <input type="submit" value="Submit Edits">
      </form>
    </div>

  </body>
</html>
